.exampleof-guide-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.exampleof-guide-exampleof-guide {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.exampleof-guide-dishcover-top {
  top: 24px;
  left: 22px;
  width: 347px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-topof-screen {
  top: 0px;
  left: 34.96338653564453px;
  width: 170px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-group20 {
  top: 0px;
  left: 0px;
  width: 170px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.exampleof-guide-mdibell {
  top: 2px;
  left: 315px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.exampleof-guide-dishcover-icon {
  top: 2px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-vector {
  top: 5px;
  left: 0px;
  width: 28px;
  height: 23px;
  position: absolute;
}
.exampleof-guide-vector1 {
  top: 0px;
  left: 1px;
  width: 24px;
  height: 11px;
  position: absolute;
}


.exampleof-guide-box {
  width: 340px;
  height: 389px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  margin-bottom: 60px;
}


.exampleof-guide-john-does-post {
  top: 0px;
  left: 0px;
  width: 340px;
  height: 430px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(239, 239, 239, 1);
}
.exampleof-guide-rectangle3 {
  top: 11px;
  left: 14px;
  width: 313px;
  height: 213px;
  position: absolute;
  border-radius: 8px;
}
.exampleof-guide-your-missionstab {
  top: 203px;
  left: 14px;
  width: 313px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.exampleof-guide-text02 {
  top: 10px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.exampleof-guide-text04 {
  top: 252px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.exampleof-guide-text05 {
  font-weight: 700;
}
.exampleof-guide-text06 {
  font-weight: 400;
}
.exampleof-guide-text10 {
  font-weight: 700;
}
.exampleof-guide-text11 {
  font-weight: 400;
}
.exampleof-guide-text15 {
  font-weight: 700;
}
.exampleof-guide-text16 {
  font-weight: 400;
}
.exampleof-guide-text20 {
  font-weight: 700;
}
.exampleof-guide-text21 {
  font-weight: 400;
}
.exampleof-guide-text25 {
  font-weight: 700;
  text-decoration: NONE;
}
.exampleof-guide-text27 {
  top: 94px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.exampleof-guide-line6 {
  top: 123.0189208984375px;
  left: 25px;
  width: 342px;
  height: 1px;
  position: absolute;
}
.exampleof-guide-phxthin {
  top: 94px;
  left: 341px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.exampleof-guide-bottom-menu {
  top: 771px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-bottom-menu1 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-bottonmenu {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.exampleof-guide-bottom-menu-icons {
  top: 20.12543487548828px;
  left: 43px;
  width: 303px;
  height: 34.965938568115234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-group {
  top: 2.12542724609375px;
  left: 273.11846923828125px;
  width: 29.88153076171875px;
  height: 29.7491455078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-vector2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.exampleof-guide-vector3 {
  top: 5.94983434677124px;
  left: 3.393047571182251px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.exampleof-guide-vector4 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.exampleof-guide-ggadd {
  top: 18px;
  left: 252px;
  width: 37px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.exampleof-guide-group1 {
  top: 22px;
  left: 228px;
  width: 31.8799991607666px;
  height: 31.8799991607666px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-vector5 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.exampleof-guide-vector6 {
  top: 6.375988960266113px;
  left: 6.3759765625px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.exampleof-guide-emojionemonotoneforkandknife {
  top: 23px;
  left: 136px;
  width: 34px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.exampleof-guide-group2 {
  top: 0.9995443224906921px;
  left: 1.063208818435669px;
  width: 31.87431526184082px;
  height: 30.00070571899414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.exampleof-guide-vector7 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.exampleof-guide-vector8 {
  top: 0.24852699041366577px;
  left: 1.3062888383865356px;
  width: 29px;
  height: 30px;
  position: absolute;
}

#scrollfeed {
  position: absolute;
  top: 114px;
  overflow-y: auto;
  height: 630px;
  width: 367px;
}