.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-profile {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-ellipse6 {
  top: 103.00013732910156px;
  left: 154px;
  width: 71px;
  height: 70px;
  position: absolute;
}
.profile-text {
  top: 184px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text02 {
  top: 209px;
  left: 151px;
  color: rgba(255, 122, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text04 {
  top: 244px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text06 {
  top: 244px;
  left: 240px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text08 {
  top: 263px;
  left: 87px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text10 {
  top: 263px;
  left: 213px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text12 {
  top: 322px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text14 {
  top: 494px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text16 {
  top: 455px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text18 {
  top: 376px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text20 {
  top: 415px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text21 {
  top: 542px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-rectangle7 {
  top: 583px;
  left: 30px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-rectangle12 {
  top: 691px;
  left: 248px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-rectangle11 {
  top: 691px;
  left: 139px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-rectangle10 {
  top: 691px;
  left: 30px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-rectangle9 {
  top: 583px;
  left: 248px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-rectangle8 {
  top: 583px;
  left: 139px;
  width: 105px;
  height: 105px;
  position: absolute;
}
.profile-restrictionicons {
  top: 368px;
  left: 40px;
  width: 32px;
  height: 150.82278442382812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse16 {
  top: 118.82278442382812px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-ellipse14 {
  top: 40px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-ellipse15 {
  top: 78px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-ellipse13 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-text23 {
  top: 416px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-line4 {
  top: 352.998046875px;
  left: 24px;
  width: 339px;
  height: 1px;
  position: absolute;
}
.profile-line5 {
  top: 569.998046875px;
  left: 24px;
  width: 339px;
  height: 1px;
  position: absolute;
}
.profile-dishcover-top {
  top: 24px;
  left: 22px;
  width: 347px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-topof-screen {
  top: 0px;
  left: 34.96338653564453px;
  width: 170px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group20 {
  top: 0px;
  left: 0px;
  width: 170px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Karla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-mdibell {
  top: 2px;
  left: 315px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-dishcover-icon {
  top: 2px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector {
  top: 5px;
  left: 0px;
  width: 28px;
  height: 23px;
  position: absolute;
}
.profile-vector01 {
  top: 0px;
  left: 1px;
  width: 24px;
  height: 11px;
  position: absolute;
}
.profile-vector02 {
  top: 374px;
  left: 47px;
  width: 18px;
  height: 20px;
  position: absolute;
}
.profile-group {
  top: 415px;
  left: 47px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector03 {
  top: 0px;
  left: 4.5px;
  width: 9px;
  height: 18px;
  position: absolute;
}
.profile-vector04 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.profile-vector05 {
  top: 454px;
  left: 48px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.profile-mingcutetimeline {
  top: 490px;
  left: 43px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group1 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector06 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.profile-vector07 {
  top: 2.0833332538604736px;
  left: 2.0833332538604736px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.profile-bottom-menu {
  top: 771px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-bottom-menu1 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-bottonmenu {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.profile-bottom-menu-icons {
  top: 20.12543487548828px;
  left: 43px;
  width: 303px;
  height: 34.965938568115234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group2 {
  top: 2.12542724609375px;
  left: 273.11846923828125px;
  width: 29.88153076171875px;
  height: 29.7491455078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector08 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.profile-vector09 {
  top: 5.94983434677124px;
  left: 3.393047571182251px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.profile-vector10 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.profile-ggadd {
  top: 18px;
  left: 252px;
  width: 37px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group3 {
  top: 22px;
  left: 228px;
  width: 31.8799991607666px;
  height: 31.8799991607666px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector11 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.profile-vector12 {
  top: 6.375988960266113px;
  left: 6.3759765625px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.profile-emojionemonotoneforkandknife {
  top: 23px;
  left: 136px;
  width: 34px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group4 {
  top: 0.9995443224906921px;
  left: 1.063208818435669px;
  width: 31.87431526184082px;
  height: 30.00070571899414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector13 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.profile-vector14 {
  top: 0.24852699041366577px;
  left: 1.3062888383865356px;
  width: 29px;
  height: 30px;
  position: absolute;
}
